*.pyc
TODO
*.log
*.sqlite
*.db
*.txt
*.csv
pics
test*
old_*
.ftpconfig
camera/*.png
camera/*.jpg
camera/*.h264
camera/*.sh
camera/calibration
camera/test
camera/tmp
camera/uszomu
camera/mona
data
ulyxes.egg-info
build
dist
doc/*.pdf
